// color hex
$color-white: #FFFFFF;
$color-alabaster: #F9F9F9;
$color-wild-sand: #F4F4F4;
$color-gallery: #EDEDED;
$color-alto: #E0E0E0;
$color-silver: #C4C4C4;
$color-silver-chalice: #AFAFAF;
$color-dusty-gray: #9B9B9B;
$color-gray: #858585;
$color-dove-gray: #666666;
$color-dove-gray-dark: #6D6D6D;
$color-mine-shaft: #2C2C2C;
$color-black: #000000;
$color-mabel: #DCF8FF;
$color-azure-radiance: #0082FB;
$color-moon-raker: #F5ECFB;
$color-silver-dark: #B8B8B8;
$color-silver-light: #CCCCCC;
$color-purple: #7500BA;
$color-pink-lace: #FFC0FC;
$color-purple-dark: #6800A5;
$color-red: #FF0000;
$color-cumulus: #FEFFD3;
$color-supernova: #FFCD00;
$color-emerald: #48D16E;
$color-chateau-green: #4AAE66;
$color-madang: #A6EDAD;
$color-hint-of-green: #E2FFE5;
$color-gray-border: #F2F2F2;
$color-sine-shaft: #333333;

// color variables
$color-text: $color-mine-shaft;
$color-accent: $color-purple;
$color-accent-hover: $color-purple-dark;

// Fonts
$global-font: 'Rubik', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
